* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  text-align: center;
}
h1 {
  height: 7vmin;
  padding: 1.2rem;
  background-color: #023047;
  color: white;
  line-height: 7vmin;
}
.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choice:hover {
  background-color: #081b31;
  cursor: pointer;
}
#scoreBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin-top: 5rem;
  gap: 3rem;
}
#userScore,
#compScore {
  font-size: 4rem;
  font-weight: bold;
}
#resultContainer {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#result {
  background-color: #023047;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 668px) {
  h1 {
    font-size: 24px;
    height: 10vmin;
    line-height: 10vmin;
  }
  #userScore,
  #compScore {
    font-size: 4rem;
  }
  #result {
    font-size: 1.5rem;
  }
  p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 570px) and (min-width: 430px) {
  .choices {
    gap: 1rem;
  }
  .choice {
    height: 100px;
    width: 100px;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 430px) {
  .choices {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .choice {
    height: 100px;
    width: 100px;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
